<br><br>
<div class="container ">

  <form [formGroup]=" informationHolder" (ngSubmit)="onSubmit()">
    <!-- Personal Information -->
    <label class="label">Personal Information</label>
    <!-- firstName -->
    <div class="form-group">
      <label>FirstName:</label>
      <input [class.is-invalid]="firstname.invalid && firstname.touched" formControlName="firstname" type="text"
        class="form-control">
      <div *ngIf="firstname.invalid && firstname.touched">
        <small *ngIf="firstname.errors?.required" class="text-danger">FirstName is required</small>
        <small *ngIf="firstname.errors?.minlength" class="text-danger">FirstName must have atleast 3 charaters</small>
      </div>
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label>LastName:</label>
      <input [class.is-invalid]="lastname.invalid && lastname.touched" formControlName="lastname" type="text"
        class="form-control">
      <div *ngIf="lastname.invalid && lastname.touched">
        <small *ngIf="lastname.errors?.required" class="text-danger">LastName is required</small>
        <small *ngIf="lastname.errors?.minlength" class="text-danger">LastName must have atleast 3 charaters</small>

      </div>
    </div>
    <!-- Email -->
    <div class="form-group">
      <label>Email:</label>
      <input [class.is-invalid]="email.invalid && email.touched" formControlName="email" type="text"
        class="form-control">
      <div *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
        <small *ngIf="email.errors?.email" class="text-danger">Email must b correct</small>
      </div>
    </div>
    <!-- Phone -->
    <div class="form-group">
      <label>Phone Number:</label>
      <input [class.is-invalid]="phone.invalid && phone.touched" formControlName="phone" type="text"
        class="form-control">
      <div *ngIf="phone.invalid && phone.touched">
        <small *ngIf="phone.errors?.required" class="text-danger">Phone Number is required</small>
        <small *ngIf="phone.errors?.maxlength" class="text-danger">Phone number should not greater then 11
          numbers</small>
        <small *ngIf="phone.errors?.minlength" class="text-danger">Phone number should not smaller then 11
          numbers</small>
      </div>
    </div>
    <!-- Address -->
    <div class="form-group">
      <label>Address:</label>
      <input [class.is-invalid]="address.invalid && address.touched" formControlName="address" type="text"
        class="form-control">
      <div *ngIf="address.invalid && address.touched">
        <small *ngIf="address.errors?.required" class="text-danger">Address is required</small>
      </div>
    </div>
    <!-- City -->
    <div class="form-group">
      <label>City:</label>
      <input [class.is-invalid]="city.invalid && city.touched" formControlName="city" type="text" class="form-control">
      <div *ngIf="city.invalid && city.touched">
        <small *ngIf="city.errors?.required" class="text-danger">City is required</small>
      </div>
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <input [class.is-invalid]="gender.invalid && gender.touched" formControlName="gender" type="text"
        class="form-control">
      <div *ngIf="gender.invalid && gender.touched">
        <small *ngIf="gender.errors?.required" class="text-danger">Gender is required</small>
      </div>
    </div>
    <br><br><br>



    <!-- Metric Information -->
    <label class="label">Metric Information</label><br>

    <div class="form-group">
      <label>Insitute Name:</label>
      <input [class.is-invalid]="insituteMetric.invalid && insituteMetric.touched" formControlName="insituteMetric"
        type="text" class="form-control">
      <div *ngIf="insituteMetric.invalid && insituteMetric.touched">
        <small *ngIf="insituteMetric.errors?.required" class="text-danger">Insitute is required</small>
      </div>
    </div>
    <div class="form-group">


      <label>Majors:</label>
      <input [class.is-invalid]="majorMetric.invalid && majorMetric.touched" formControlName="majorMetric" type="text"
        class="form-control">
      <div *ngIf="majorMetric.invalid && majorMetric.touched">
        <small *ngIf="majorMetric.errors?.required" class="text-danger">Major Type is required</small>
      </div>
    </div>


    <div class="form-group">
      <label>Total Marks:</label>
      <input [class.is-invalid]="totalmarksMetric.invalid && totalmarksMetric.touched"
        formControlName="totalmarksMetric" type="number" class="form-control">
      <div *ngIf="totalmarksMetric.invalid && totalmarksMetric.touched">
        <small *ngIf="totalmarksMetric.errors?.required" class="text-danger">Total Marks is required</small>
        <small *ngIf="totalmarksMetric.errors?.min" class="text-danger">Total Marks must be greater Than zero</small>
      </div>
    </div>

    <div class="form-group">
      <label>Obtain Marks:</label>
      <input [class.is-invalid]="obtainmarksMetric.invalid && obtainmarksMetric.touched"
        formControlName="obtainmarksMetric" type="number" class="form-control">
      <div *ngIf="obtainmarksMetric.invalid && obtainmarksMetric.touched">
        <small *ngIf="obtainmarksMetric.errors?.required" class="text-danger">Obtain Marks is required</small>
        <small *ngIf="obtainmarksMetric.errors?.min" class="text-danger">Obtain Marks must be greater Than zero</small>
      </div>
    </div>

    <div class="form-group">
      <label>Percentage:</label>
      <input [class.is-invalid]="percentageMetric.invalid && percentageMetric.touched"
        formControlName="percentageMetric" type="number" class="form-control">
      <div *ngIf="percentageMetric.invalid && percentageMetric.touched">
        <small *ngIf="percentageMetric.errors?.required" class="text-danger">Percentage is required</small>
        <small *ngIf="percentageMetric.errors?.min" class="text-danger">Percentage must be greater Than zero</small>
        <small *ngIf="percentageMetric.errors?.max" class="text-danger">Percentage must be smaller Than 100</small>
      </div>
    </div>
    <br><br><br>
    <!-- College Information -->
    <label class="label">College Information</label>
    <div class="form-group">
      <label>Insitute Name:</label>
      <input [class.is-invalid]="insituteCollege.invalid && insituteCollege.touched" formControlName="insituteCollege"
        type="text" class="form-control">
      <div *ngIf="insituteCollege.invalid && insituteCollege.touched">
        <small *ngIf="insituteCollege.errors?.required" class="text-danger">Insitute is required</small>
      </div>
    </div>
    <div class="form-group">
      <label>Majors:</label>
      <input [class.is-invalid]="majorCollege.invalid && majorCollege.touched" formControlName="majorCollege"
        type="text" class="form-control">
      <div *ngIf="majorCollege.invalid && majorCollege.touched">
        <small *ngIf="majorCollege.errors?.required" class="text-danger">Major Type is required</small>
      </div>
    </div>
    <div class="form-group">
      <label>Total Marks:</label>
      <input [class.is-invalid]="totalmarksCollege.invalid && totalmarksCollege.touched"
        formControlName="totalmarksCollege" type="number" class="form-control">
      <div *ngIf="totalmarksCollege.invalid && totalmarksCollege.touched">
        <small *ngIf="totalmarksCollege.errors?.required" class="text-danger">Total Marks is required</small>
        <small *ngIf="totalmarksCollege.errors?.min" class="text-danger">Total Marks must be greater Than zero</small>
      </div>
    </div>
    <div class="form-group">
      <label>Obtain Marks:</label>
      <input [class.is-invalid]="obtainmarksCollege.invalid && obtainmarksCollege.touched"
        formControlName="obtainmarksCollege" type="number" class="form-control">
      <div *ngIf="obtainmarksCollege.invalid && obtainmarksCollege.touched">
        <small *ngIf="obtainmarksCollege.errors?.required" class="text-danger">Obtain Marks is required</small>
        <small *ngIf="obtainmarksCollege.errors?.min" class="text-danger">Obtain Marks must be greater Than zero</small>
      </div>
    </div>
    <div class="form-group">
      <label>Percentage:</label>
      <input [class.is-invalid]="percentageCollege.invalid && percentageCollege.touched"
        formControlName="percentageCollege" type="number" class="form-control">
      <div *ngIf="percentageCollege.invalid && percentageCollege.touched">
        <small *ngIf="percentageCollege.errors?.required" class="text-danger">Percentage is required</small>
        <small *ngIf="percentageCollege.errors?.min" class="text-danger">Percentage must be greater Than zero</small>
        <small *ngIf="percentageCollege.errors?.max" class="text-danger">Percentage must be smaller Than 100</small>
      </div>
    </div><br><br><br>

    <!-- Uni Information -->
    <label class="label">Uni Information</label>
    <div class="form-group">
      <label>Insitute Name:</label>
      <input [class.is-invalid]="insituteUni.invalid && insituteUni.touched" formControlName="insituteUni" type="text"
        class="form-control">
      <div *ngIf="insituteUni.invalid && insituteUni.touched">
        <small *ngIf="insituteUni.errors?.required" class="text-danger">Insitute is required</small>
      </div>
    </div>
    <div class="form-group">
      <label>Degree:</label>
      <input [class.is-invalid]="degree.invalid && degree.touched" formControlName="degree" type="text"
        class="form-control">
      <div *ngIf="degree.invalid && degree.touched">
        <small *ngIf="degree.errors?.required" class="text-danger">Degree is required</small>
      </div>
    </div>
    <div class="form-group">
      <label>CGPA:</label>
      <input [class.is-invalid]="cgpa.invalid && cgpa.touched" formControlName="cgpa" type="number"
        class="form-control">
      <div *ngIf="cgpa.invalid && cgpa.touched">
        <small *ngIf="cgpa.errors?.required" class="text-danger">CGPA is required</small>
        <small *ngIf="cgpa.errors?.min" class="text-danger">CGPA must be greater Than zero</small>
        <small *ngIf="cgpa.errors?.max" class="text-danger">CGPA must be smaller Than 4</small>
      </div>
    </div>
    <br>
    <button class="btn btn-success" [disabled]="informationHolder.invalid">Submit</button>
    <br><br>
  </form>

</div>
