<tbody>
  <tr *ngFor="let recod of recods ">
    <td>{{ recod.firstname }}</td>
    <td>{{ recod.lastname }}</td>
    <td>{{ recod.email }}</td>
    <td>{{ recod.phone }}</td>
    <td>{{ recod.address }}</td>
    <td>{{ recod.city }}</td>
    <td>{{ recod.gender }}</td>
    <!-- Metric Information -->
    <td>{{ recod.metricInfo.insitute }}</td>
    <td>{{ recod.metricInfo.majors }}</td>
    <td>{{ recod.metricInfo.totalMarks }}</td>
    <td>{{ recod.metricInfo.obtainMarks }}</td>
    <td>{{ recod.metricInfo.percentage }}</td>
    <!-- College Informtion -->
    <td>{{ recod.collegeInfo.insitute }}</td>
    <td>{{ recod.collegeInfo.majors }}</td>
    <td>{{ recod.collegeInfo.totalMarks }}</td>
    <td>{{ recod.collegeInfo.obtainMarks }}</td>
    <td>{{ recod.collegeInfo.percentage }}</td>
    <!-- Uni Infomation -->
    <td>{{ recod.uniInfo.insitute }}</td>
    <td>{{ recod.uniInfo.degree }}</td>
    <td>{{ recod.uniInfo.CGPA }}</td>
    <!-- Delete Edit Profile -->
    <td><button (click)="onDelete(recod.person_id,$event)">Delete</button></td>
    <td><button (click)="onEdit(recod.person_id)"> Edit</button></td>
    <td><button routerLink="/profile" (click)="onProfile(recod.person_id)"><i class="fas fa-user"></i></button>
    </td>
  </tr>
</tbody>
