<br>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table  table-dark table-hover  table-bordered table-stripped table-sm" id='tab'>
      <thead>
        <tr>
          <!-- Person Info Column -->
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email </th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>gender</th>

          <!-- Person Metric Info Column -->
          <th>School</th>
          <th>Majors</th>
          <th>Total Marks</th>
          <th>Obtain Marks</th>
          <th>Percentage</th>

          <!-- Person Metric Info Column -->
          <th>College</th>
          <th>Majors</th>
          <th>Total Marks</th>
          <th>Obtain Marks</th>
          <th>Percentage</th>

          <!-- Person Metric Info Column -->
          <th>UNI</th>
          <th>Degree</th>
          <th>CGPA</th>
          <!-- Delete Edit Profile -->
          <th>DELETE</th>
          <th>EDIT</th>
          <th>PROFILE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recod of recods ">
          <td>{{ recod.doc.data().firstname }}</td>
          <td>{{ recod.doc.data().lastname }}</td>
          <td>{{ recod.doc.data().email }}</td>
          <td>{{ recod.doc.data().phone }}</td>
          <td>{{ recod.doc.data().address }}</td>
          <td>{{ recod.doc.data().city }}</td>
          <td>{{ recod.doc.data().gender }}</td>
          <!-- Metric Information -->
          <td>{{ recod.doc.data().insituteMetric }}</td>
          <td>{{ recod.doc.data().majorMetric }}</td>
          <td>{{ recod.doc.data().totalmarksMetric }}</td>
          <td>{{ recod.doc.data().obtainmarksMetric }}</td>
          <td>{{ recod.doc.data().percentageMetric }}</td>
          <!-- College Informtion -->
          <td>{{ recod.doc.data().insituteCollege }}</td>
          <td>{{ recod.doc.data().majorCollege }}</td>
          <td>{{ recod.doc.data().totalmarksCollege }}</td>
          <td>{{ recod.doc.data().obtainmarksCollege }}</td>
          <td>{{ recod.doc.data().percentageCollege }}</td>
          <!-- Uni Infomation -->
          <td>{{ recod.doc.data().insituteUni }}</td>
          <td>{{ recod.doc.data().degree }}</td>
          <td>{{ recod.doc.data().cgpa }}</td>
          <!-- Delete Edit Profile -->
          <td><button (click)="onDelete(recod.doc.id,$event)">Delete</button></td>
          <td><button (click)="onEdit(recod.doc.id)"> Edit</button></td>
          <td><button routerLink="/profile" (click)="onProfile(recod.doc.id)"><i class="fas fa-user"></i></button>
          </td>
        </tr>
      </tbody>

    </table>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> | paginate: { itemsPerPage: 2, currentPage: p -->
  </div>
</div>
