<div class="container main">
  <h2>Personal Infomation </h2><br>
  <div class="row">

    <div class="col-sm-12">
      <button routerLink="/form" class=" btn btn-dark ">Form</button>
      <button routerLink="/table" class=" btn btn-dark ">Table</button>
      <button routerLink="/cardlayout" class=" btn btn-dark">CardLayout</button>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
