<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngFor="let recod of recods">
      <div class="card">
        <h5 class="card-header"><span>{{recod.doc.data().firstname | NamePipe:recod.doc.data().lastname }} </span></h5>
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <div class="card-text">
            <span>Email: <span>{{recod.doc.data().email}}</span></span><br>
            <span>Phone Number: <span>{{recod.doc.data().phone }}</span></span><br>
            <span>School Name : <span>{{recod.doc.data().insituteMetric}}</span></span><br>
            <span>College Name : <span>{{recod.doc.data().insituteCollege}}</span></span><br>
            <span>University Name : <span>{{recod.doc.data().insituteUni}}</span></span><br>

          </div><br>
          <a routerLink='profile' class="btn btn-success" (click)="onProfileClick(recod.person_id)">Go to Profile</a>
        </div>

      </div><br>
    </div>
  </div>
</div>
