html {
  background-color: whitesmoke;
}

.personal {
  padding: 30px;
  background-color: darkgray;
  text-align: center;

}

h4 {
  font-weight: lighter;
  font-size: medium;
}

.eduactionInfo {
  padding: 30px;
  background-color: whitesmoke;
  border: solid 1px black;

}

.insituteInfo {
  box-sizing: border-box;

}
